@model User
@{
    ViewData["Title"] = "Users";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@Model.FullName</h4>
                <p>
                    @Model.Email
                </p>
            </div>
        </div>
    </div>
</div>