@model ExpertsImage
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Delete Expert Image</h4>
                <img src="`/img/@Model.Name" style="width : 150px; height : 150px;" />
                <p class="text-danger"> Sure to Delete?</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <form method="post" class="forms-sample">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a class="btn btn-light" asp-action="index">Cancal</a>
</div>